.drop_dawn_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-right: 10px;
}

.drop_dawn_title {
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}
.drop_dawn_is_copy {
    animation: ani 1s forwards;
    border-radius: 5px;
    background-color: #C4C4C4;
}

.drop_dawn_button_image {
    background: right 50% url("/src/components/common/image/Frame 26.svg") no-repeat;
    width: 5px;
    height: 25px;
    margin-left: 10px;
}
